.spinner{

    border-radius: 50%;    
    } 
    
    .hummanz-spinner{
        animation: rotation 1.8s linear infinite ;
    /* width: 1000px; */
        height: auto;
    }
    @keyframes rotation {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(359deg);
        }
    }